@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


:root {
  --brownColor: #5F564D;
  --brandyRed: #854632;
  --darkRaspberry: #7A284E;
  --whiteCoffee: #E3DDD7;
  --darkCharcoal: #312E2C;
  --snow: #FFF7FB;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Young Serif", serif !important;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 2rem !important;
  color: var(--darkCharcoal);
}

section > h2 {
  color: var(--brandyRed);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  color: var(--brownColor);
  font-family: "Outfit", sans-serif;

}

/* #root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  grid-auto-flow: row;
  gap: 20px;
} */

.app-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 20px;
}

.app-wrapper {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.hero-img {
  width: 100%;
  margin-bottom: 10px;
}

section.preparation-time {
  background-color: var(--snow);
  padding: 20px;
}

section.preparation-time h3 {
  color: var(--darkRaspberry);
}

section.preparation-time ul li::marker {
  color: var(--darkRaspberry);
}

section.preparation-time ul > li {
  list-style-position: inside;
  padding: 4px;  
}

section.preparation-time ul > li > b {
  padding: 1px;  
}

section.ingredients ul {
  list-style-position: inside;
  padding: 20px 0;
}

section.ingredients ul li {
  padding: 4px;
}

section.ingredients ul li::marker {
  color: var(--brandyRed);
}

section.instructions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.instructions ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.instructions ol li::marker {
  color: var(--brandyRed);
  margin-right: 10px;
  font-weight: 700;
}

section.instructions ol li {
  list-style-position: inside;
}

section.instructions ol li span {
  margin-left: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  border-bottom: 1px #E3DDD7 solid;
  
}

table tr td {
  padding: 20px;
}

table tr:last-child > td {
  padding-bottom: unset;
}

table tr td:last-child {
  color: var(--brandyRed);
  font-weight: 700;
}

table tr:last-child{
  border-bottom: unset;
}

@media screen and (max-width: 430px) {
  .app-container .app-wrapper > img {
   max-height: 200px;
   object-fit: contain;
   object-fit: cover;
  }

  #root {
    padding: 0 10px;
  }
}